# Bastion host
Port 22
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
KexAlgorithms curve25519-sha256,ecdh-sha2-nistp256
HostKeyAlgorithms rsa-sha2-512,ssh-ed25519
PasswordAuthentication no
